<header>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Mogi List', mogis_path %>
    <%= link_to 'New Mogi', new_mogi_path %>
    <%= link_to 'Track List', tracks_path %>
    <a href="https://www.mk8dx-lounge.com/PlayerDetails/35714" target="_blank">Lounge</a>
  </nav>
</header>